{{- if not .IsPage -}}
{{- $paginator := .Paginate (where .Data.Pages "Type" "post") -}}
{{- end -}}
<header>
	{{- if eq .Section "post" -}}
	{{- if .NextInSection -}}
	<a class="next" href="{{ .NextInSection.Permalink }}">Next</a>
	{{- else -}}
	<span class="next disable">Next</span>
	{{- end -}}
	{{- else -}}
	{{- if .IsHome -}}
	{{- partial "next" . -}}
	{{- end -}}
	{{- end -}}
	<h1><a href="/" class="site-title">{{ .Site.Title }}</a></h1>
	{{- if eq .Section "post" -}}
	{{- if .PrevInSection -}}
	<a class="prev" href="{{ .PrevInSection.Permalink }}">Prev</a>
	{{- else -}}
	<span class="prev disable">Prev</span>
	{{- end -}}
	{{- else -}}
	{{- if .IsHome -}}
	{{- partial "prev" . -}}
	{{- end -}}
	{{- end -}}
	{{- if and .IsHome .Site.Params.subtitle -}}
	<h2>{{ .Site.Params.subtitle }}</h2>
	{{- end -}}
</header>
